@use 'reset';

@import url('https://fonts.googleapis.com/css?family=Cairo');
@import url('https://fonts.googleapis.com/css?family=Russo+One');

// Declare global variables here, such as font-stack, primary and secondary colors, etc
:root {
  --font-stack: 'Russo One', sans-serif;
  --primary: #2B2B2B;
  --secondary: rgb(32, 32, 36);
}

