@use 'reset';

@import url('https://fonts.googleapis.com/css?family=Cairo');
@import url('https://fonts.googleapis.com/css?family=Russo+One');

// Declare global variables here, such as font-stack, primary and secondary colors, etc
:root {
  --font-stack: 'Russo One', sans-serif;
}

body {
  background-color: rgb(17, 12, 46);
  color: white;
  font-size: 24px;
  font-family: var(--font-stack);
}