@use 'global';

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(97, 95, 105);
  color: white;
  font-family: var(--font-stack);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  background-color: rgb(54, 53, 58);
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  margin-top: 5rem;
}

.img {

  .img-container {
    width: 1200px;
    position: relative;

    img {
      width: 100%;
    }
  }
}

// .popup {
//   display: none;
//   position: absolute;
// }

.popup__reticle {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 50px;
  width: 50px;
  position: absolute;
}

.popup__menu {
  position: absolute;
  display: none;
  // height: 5rem;
  // width: 5rem;
  margin-left: 50px;
  background-color: rgb(48, 48, 48);

  ul {

    li {
      font-size: 1rem;
      padding: 1rem;
    }

    li:hover {
      background-color: rgb(95, 95, 95);
      cursor: pointer;
    }
  }
}

[data-id="0"] {
  width: 50%;
  height: 50%;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

[data-id="1"] {
  width: 50%;
  height: 50%;
  border-top: 2px solid white;
  border-right: 2px solid white;
  place-self: start end;
}

[data-id="2"] {
  width: 50%;
  height: 50%;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  place-self: end start;
}

[data-id="3"] {
  width: 50%;
  height: 50%;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  place-self: end end;
}
