@use 'global';

body {
  width: 100%;
  height: 100vh;
  background-color: var(--primary);
  color: var(--light);
  font-family: var(--font-stack);
  // display: flex;
  // align-items: center;
  // flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
}

.header {
  z-index: 1;
  background-color: var(--secondary);
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .header__title {
    font-family: var(--font-stack);
    font-size: 1.5rem;
    margin-right: 2rem;
  }

  .header__btns {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 65%;


    a {
      font-family: var(--font-stack);
      text-decoration: none;
      color: var(--light);
      border: 1.5px solid var(--light);
      border-radius: 10px;
      padding: 0.5rem 0.7rem;
      width: 6rem;
      text-align: center;
      margin-left: 1rem;
    }
  
    a:hover {
      background-color: var(--light);
      color: var(--primary);
    }
  
    a:active {
      transform: scale(0.95);
    }
  }

  

  .timer {
    margin-right: 4rem;
    font-size: 1.4rem;
    padding: 0.2rem;
    max-width: 20px;
  }
}

.header__chars {
  display: flex;
  height: 90%;
  margin-right: 2.4rem;

}

section {
  // opacity: 0;
  display: none;
}

section:target {
  // opacity: 1;
  display: flex;
  // width: 100%;
  // height: 100%;
  // z-index: 10;
}


.char-card {
  height: 100%;
  width: 6rem;
  margin: 0 0.5rem;
  padding-top: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.char-img {
  height: 70%;
}

.main {
  margin-top: 8rem;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img {

  .img-container {
    width: 1200px;
    position: relative;

    img {
      width: 100%;
    }
  }
}

.popup__reticle {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 50px;
  width: 50px;
  position: absolute;
}

.popup__menu {
  position: absolute;
  display: none;
  // height: 5rem;
  // width: 5rem;
  margin-left: 50px;
  background-color: rgb(48, 48, 48);

  ul {

    li {
      font-size: 1rem;
      padding: 1rem;
    }

    li:hover {
      background-color: rgb(95, 95, 95);
      cursor: pointer;
    }
  }
}

[data-id="0"] {
  width: 50%;
  height: 50%;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

[data-id="1"] {
  width: 50%;
  height: 50%;
  border-top: 2px solid white;
  border-right: 2px solid white;
  place-self: start end;
}

[data-id="2"] {
  width: 50%;
  height: 50%;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  place-self: end start;
}

[data-id="3"] {
  width: 50%;
  height: 50%;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  place-self: end end;
}

.modal {
  color: black;
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;

  .modal__content {
    background-color: #fff;
    width: 20rem;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 3px;

    .modal__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #cccbcb;
      font-weight: bold;
      font-size: 1.1rem;
      padding-bottom: 0.2rem;
      width: 100%;
    }

    .modal__text {
      color: black;
      font-size: 1rem;
    }

    .modal__time {
      display: flex;
    }
  }
}

.leaderboard {
  padding-top: 3rem;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;


  .leaderboard__table {
    width: 700px;
    text-align: left;
    margin-bottom: 3rem;
    
    tbody {
      border-bottom: 2px solid grey;
      background-color: var(--secondary);

      th {
        // padding-left: 1rem;
        vertical-align: middle;
        font-weight: bold;
      }

      .header-rank {
        text-align: center;
        padding-right: 6rem;
      }

      .header-name {
        padding-right: 4rem;
      }
    }

    tr {
      height: 2.5rem;
      border-bottom: 1px solid rgba(245, 245, 245, 0.068);
      border-right: 1px solid rgba(245, 245, 245, 0.068);
      border-left: 1px solid rgba(245, 245, 245, 0.068);

      td {
        // padding-left: 1rem;
        // padding-right: 3rem;
        vertical-align: middle;
      }

      .table__rank {
        width: 5rem;
        padding-right: 6rem;
        // padding: 0 2rem 0 1rem;
        text-align: center;
      }
    }


  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  background-color: var(--secondary);
  font-size: 0.9rem;

  i {
    font-style: italic;
    margin-right: 0.3rem;
  }
}



